.hero{
    width: 100%;
    max-height: 650px;
    height: 100%;
    background-image: url(../../../assets/images/home/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 153px 0px 152px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .hero-div{
        max-width: 1114px;
        width: 100%;
        position: relative;
    }
}

h1{
    color: #ffffff;
    margin-bottom: 40px;
}

.hero-desc{
    margin-left: 95px;
    max-width: 405px;
    p{
        color: #ffffff;
        margin-bottom: 40px;
    }
}

.left-line{
    position: absolute;
    left: 0px;
    top: 354px;
}

.right-line{
    position: absolute;
    right: 288px;
    bottom: 157px;
}

.oval-img{
    position: absolute;
    bottom: -100px;
    right: -70px;
}

@media (max-width: 1024px) {
    .hero{
        padding: 137px 0px 217px 0px;
        max-height: none;

        .hero-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    h1{
        margin-bottom: 24px;
    }
    .hero-desc{
        margin-left: 0px;
        p{
            margin-bottom: 32px;
        }
    }

    .left-line{
        display: none;
    }

    .right-line{
        right: auto;
        left: -127px;
        bottom: 39px;
    }

    .oval-img{
        bottom: -178px;
        right: -33px;
    }
}

@media (max-width: 768px) {

    .hero{
        padding: 115px 32px 179px 32px;

    }
    .right-line{
        right: auto;
        bottom: 34px;
        left: -312px;
    }

    .oval-img{
        display: none;
    }

}