<div class="hero">
    <div class="hero-div">

        <h1>Scooter sharing<br>made simple</h1>
        <div class="hero-desc">
            <p>Scoot takes the hassle out of urban mobility. 
                Our bikes are placed in convenient locations in each of our cities. 
                Use our app to locate the nearest bike, unlock it with a tap, and you're away!
            </p>
            <button class="custom-btn">Get scootin</button>
        </div>
        <img src="../../../assets/images/home/hero-ovals.svg" class="oval-img" alt="ovals">
    </div>
    <img src="../../../assets/images/home/hero-left-line.png" class="left-line" alt="hero">
    <img src="../../../assets/images/home/hero-right-arrow.png" class="right-line" alt="hero">

</div>