.hero{
    width: 100%;
    max-height: 650px;
    height: 100%;
    background-image: url(../../../assets/images/home/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 153px 0px 152px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    
    .hero-div{
        max-width: 1114px;
        width: 100%;
        position: relative;
    }
}

h1{
    color: #ffffff;
    margin-bottom: 40px;
}

.hero-desc{
    margin-left: 95px;
    max-width: 405px;
    p{
        color: #ffffff;
        margin-bottom: 40px;
    }
}

.left-line{
    position: absolute;
    left: 0px;
    top: 354px;
}

.right-line{
    position: absolute;
    right: 288px;
    top: 355px;
}

.oval-img{
    position: absolute;
    bottom: -100px;
    right: -70px;
}