.hero-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    position: relative;
}

.about{
    background-image: url(../../../assets/images/about/about-hero.png); 
}

.careers{
    background-image: url(../../../assets/images/careers/career-hero.png); 
}

.location{
    background-image: url(../../../assets/images/location/location-hero.png); 
}


.hero{
    max-width: 1110px;
    width: 100%;
    padding: 62px 0px 72px 0px;
    
}


h1{
    color: white;
}

@media (max-width: 1024px) {
    .hero-container{
        margin-bottom: 144px;
    }

    .hero{
        padding: 72px 0px 72px 97px;
    }

   

}


@media (max-width: 768px) {

    .hero-container{
        margin-bottom: 72px;
    }

    .oval-img{
        display: none;
    }

    .hero{
        text-align: center;
        padding: 60px 0px 60px 0px;
    }
}