<div class="card-container">
    @for (card of cards; track $index) {
        <div class="card">
            <img [src]="card.imgPath" alt="card-img">
            <h4>{{card.title}}</h4>
            <p>{{card.description}}</p>
        </div>
    }
</div>



<div class="content-container">

    <div class="cover">

        <div class="content content-div-1">
            <div class="description">
                <h2>Easy to use <br> riding telemetry</h2>
        
                <p>The Scoot app is available with riding telemetry. 
                    This means it can show you your average speed, 
                    how long you've been using the scooter, your travelling distance, 
                    and many more things all in an easy to use app.
                </p>
        
                <button class="custom-btn">Learn more</button>
            </div>
    
            <img src="../../../assets/images/home/content-img-1.png" alt="home-img">
        </div>
    
    
    
        <div class="content content-div-2">
            
    
            <img src="../../../assets/images/home/content-img-2.png" alt="home-img">
    
            <div class="description">
                <h2>Coming to a city<br> near you</h2>
        
                <p>Scoot is available in 4 major cities so far. 
                    We're expanding rapidly, so be sure to let us know 
                    if you want to see us in your hometown. 
                    We're aiming to let our scooters loose on 23 cities over the coming year.
                </p>
        
                <button class="custom-btn">Learn more</button>
            </div>
        </div>


         <div class="content content-div-3">
            <div class="description">
                <h2>Zero hassle<br> payments</h2>
        
                <p>
                    Our payment is as easy as one two three. 
                    We accept most credit cards and debit cards. 
                    You can also link your PayPal account inside the app. 
                    Need to pay later? 
                    No worries! You can defer payment for up to a month.
                </p>
        
                <button class="custom-btn">Learn more</button>
            </div>
    
            <img src="../../../assets/images/home/content-img-3.png" alt="home-img">
        </div>
    </div>
    

</div>

