<div class="content-container">
    <div class="cover">
        <img class="map-img" src="../../../assets/images/location/map.png" alt="map">


        <div class="message-div">
            <div class="desc">
                <h2>Your city <br> not listed?</h2>
                <p>
                    If you'd like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social.
                </p>
            </div>

            <button class="custom-btn">Message Us</button>

        </div>

    </div>
</div>