@use "colors" as *;

h2{
    color: $darkNavy;
}

p{
    color: $dimGray;
}


.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .cover{
        display: flex;
        width: 100%;
        flex-direction: column;
        max-width: 1110px;
        align-items: center;
        justify-content: center;

    }
}

.map-img{
    width: 100%;
    margin-bottom: 120px ;
}


.map-mobile, .mobile-info{
    display: none;    
}

.message-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 120px;
    .desc{
        display: flex;
        align-items: center;
        column-gap: 30px;
        p{
            max-width: 445px;
        }
    }
}

@media (max-width: 1024px) {
    .cover{
        padding: 0 40px;
    }

    .map-img{
        margin-bottom: 64px;
    }

    .message-div{
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
        .desc{
            flex-direction: column;
            row-gap: 40px;
        }
    }

}

@media (max-width: 768px) {

    .map-img{
        display: none;

    }
    .map-mobile{
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }

    .mobile-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 72px;
        .info{
            background-color: rgba(252, 184, 43, 15%);
            padding: 22px 0;
            width: 100%;
            text-align: center;
            h4{
                color: $darkNavy;
            }
        }
    }

}