<div class="navbar">
    <div class="container">
        <div class="navigation-div">
            <img routerLink="/" src="../../../assets/images/scoot-logo.svg" alt="scoot-logo">
            <div class="links">
                <a routerLink="/about">About</a>
                <a routerLink="/locations">Location</a>
                <a routerLink="/careers">Careers</a>
            </div>
        </div>
        <div class="button">
            <button class="custom-btn">Get scootin</button>
        </div>
    </div>
</div>