<div class="content-container">
    <div class="cover">


        <div class="content content-div-1">
            <div class="description">
                <h2>
                    Mobility for the <br>
                    digital era
                </h2>
                <p>
                    Getting around should be simple (and even fun!) 
                    for everyone. We embrace technology to provide low 
                    cost, smart access to scooters at your fingertips.
                </p>
            </div>
            <img src="../../../assets/images/about/content-img-1.png" alt="content-img">

        </div>

        <div class="content content-div-2">
            <img src="../../../assets/images/about/content-img-2.png" alt="content-img">
            <div class="description">
                <h2>
                    Mobility for the <br>
                    digital era
                </h2>
                <p>
                    Getting around should be simple (and even fun!) 
                    for everyone. We embrace technology to provide low 
                    cost, smart access to scooters at your fingertips.
                </p>
            </div>

        </div>


        <h2 class="value-title">Our values</h2>

        <div class="card-container">

            <div class="card">
                <div class="img-div">
                    <img src="../../../assets/images/about/card-img-1.png" alt="">
                    <div class="circle">
                        <h4>01</h4>
                    </div>
                </div>
                <h4 class="card-title">Our tech</h4>
                <p>
                    We're using cutting edge technology to drive accessible urban transportation forward. 
                    Our fully electric scooters are a joy to ride!
                </p>
            </div>

            <div class="card">
                <div class="img-div">
                    <img src="../../../assets/images/about/card-img-2.png" alt="">
                    <div class="circle">
                        <h4>02</h4>
                    </div>
                </div>
                <h4 class="card-title">Our integrity</h4>
                <p>
                    We are fully committed to deliver a great yet safe, 
                    sustainable micro-mobility experience in every city we serve.
                </p>
            </div>

            <div class="card">
                <div class="img-div">
                    <img src="../../../assets/images/about/card-img-3.png" alt="">
                    <div class="circle">
                        <h4>03</h4>
                    </div>
                </div>
                <h4 class="card-title">Our community</h4>
                <p>
                    We support every community we serve. All workers are paid a 
                    living wage based on their location and are Scoot employees.
                </p>
            </div>
        </div>

    </div>
</div>