@use "colors" as *;


h2{
    color: $darkNavy;
}

p{
    color: $dimGray;
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .cover{
        display: flex;
        width: 100%;
        flex-direction: column;
        max-width: 1110px;

    }
}


.content{
    width: 100%;
    display: flex;
    column-gap: 200px;
    align-items: center;


}
.description{
    max-width: 445px;
    p{
        margin: 24px 0 0 0;
    }
}

.content-div-1{
    flex-direction: row;
    margin-bottom: 120px;
    img{
        border-radius: 50%;
    }
}

.content-div-2{
    flex-direction: row;
    margin-bottom: 120px;
}

.card-container{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}