<div class="footer-cover footer">
    
        <div class="footer-container footer-app">
            <h2>
                Sign up and <br>
                Scoot off today
            </h2>
    
            <div class="app-container">
                <div class="app">
                    <img src="../../../assets/images/footer/apple.png" alt="apple-logo">
                    <div>
                        <small>Available on the</small>
                        <h5>App Store</h5>
                    </div>
                </div>
                <div class="app">
                    <img src="../../../assets/images/footer/google.png" alt="google-play">
                    <div>
                        <small>Get it on</small>
                        <h5>Google Play</h5>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    <div class="footer-cover footer-links">

        <div class="footer-container">
             <div class="container">
                <div class="navigation-div">
                    <img src="../../../assets/images/footer/scoot-footer.png" alt="logo">
                    <div class="links">
                        <a>About</a>
                        <a>Location</a>
                        <a>Careers</a>
                    </div>
                </div>
                <div class="social-links">
                    <img src="../../../assets/images/footer/facebook.png" alt="facebook">
                    <img src="../../../assets/images/footer/twitter.png" alt="twitter">
                    <img src="../../../assets/images/footer/instagram.png" alt="instagram">
                </div>
            </div>
        </div>
    </div>