<div class="footer">
    
        <div class="footer-container footer-app">
            <h2>
                Sign up and <br>
                Scoot off today
            </h2>
    
            <div class="app-container">
                <div class="app">
                    <img src="../../../assets/images/footer/apple.png" alt="apple-logo">
                    <div>
                        <small>Available on the</small>
                        <h5>App Store</h5>
                    </div>
                </div>
                <div class="app">
                    <img src="../../../assets/images/footer/google.png" alt="google-play">
                    <div>
                        <small>Get it on</small>
                        <h5>Google Play</h5>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    <div class="footer-container footer-links">

    </div>